<nav id="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <img src="/img/LogoHDWhite.png" alt="HD" class="logo-img">
    </a>
    <div class="nav-pill">
      <a href="/" class="<%= currentPage === '/' ? 'nav-active' : '' %>">SOBRE MI</a>
      <a href="/projects" class="<%= currentPage === '/projects' ? 'nav-active' : '' %>">PROJECTS</a>
      <a href="/services" class="<%= currentPage === '/services' ? 'nav-active' : '' %>">SERVICES</a>
    </div>
  </div>
</nav>
