<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../includes/head') %>
</head>
<body>
  <%- include('../includes/navbar') %>

  <main>
    <%- body %>
  </main>

  <%- include('../includes/footer') %>
</body>
</html>
